<div class="div-container bg-light p-2">
    <div class="row">
        <div class="col-8">
            <h4 class="text-center">{{jugador.dorsal}} - {{jugador.nombre}} ({{jugador.posicion}})</h4>
            <hr>
            <p class="text-muted">Goles: {{jugador.goles}}<br>Tarjetas:{{jugador.ta}}</p>
            <hr>
            <p>
                {{jugador.comentarios}}
            </p>

            <button class="btn btn-outline-danger" [routerLink]="['/plantilla']">Volver</button>
        </div>
        <div class="col-4">
            <figure class="figure">
                <img src="{{jugador.imagen}} " class="figure-img img-fluid rounded"> </figure>
        </div>
    </div>