<div class="container container-fluid">
    <div class="row text-center">
        <div class="h1 alert-success container-fluid" id="titulo">POLYMPAKOS</div>
        <hr>
        <img src='./../../../assets/polym.jpg' width="100%" height="600"></div>
    <hr>

</div>