<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand">
        <img src="./../../../assets/87269.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/historia']">Historia <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/estadisticas']">Estadisticas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/plantilla']">Plantilla <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/edicion','new']"> <span *ngIf="pS.usuario.uid">Edicion</span><span *ngIf="!pS.usuario.uid">Login</span></a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Busca el jugador" #termino (keydown.enter)="buscar(termino.value)">
            <button class=" btn btn-outline-primary my-2 my-sm-0" (click)="buscar(termino.value)" type="button">Buscar</button>
        </form>
        <button *ngIf="pS.usuario.uid" type="button" class="btn btn-outline-light mx-2" (click)="salir()">Logout</button>
    </div>
</nav>