<div class="container container-fluid">
    <div class="row">
        <div class="col-2">
            <form [formGroup]="filtro" (submit)="filtrarPosicion()">
                <div class="form-group">

                    <select class="form-control" id="posicion" formControlName="posicion">
            <option>TODOS</option>
            <option>PT</option>
            <option>DF</option>
            <option>MC</option>
            <option>DL</option>
          </select>


                </div>
            </form>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-outline-primary   " (click)='filtrarPosicion()'>Buscar</button>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <!-- <h2>{{filtro}}</h2> -->
            <div class="card mb-3 bg-light" *ngFor="let j of jugadores" style="max-height: 180px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img [src]="j.imagen" class="card-img m-2 p-2 img-fluid" width="60px" alt="... ">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body ">
                            <h5 class="card-title ">{{j.nombre}} ({{j.posicion}})</h5>
                            <hr>

                            <p class="card-text "><small class="text-muted ">{{j.dorsal}}</small></p>
                            <p class="card-text "><small class="text-muted "> GOLES: {{j.goles}} - TARJETAS: {{j.ta}}</small></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 ">
            <h3 class="text-center bg-primary text-white ">PICHICHI</h3>
            <table class="table ">

                <tbody class="table ">
                    <tr *ngFor="let g of (goleadores|identificadores) ">
                        <!-- <td scope="row " class="text-center ">
                            <img [src]="goleadores[g].imagen " width="45px " class="img-fluid rounded-circle "></td> -->
                        <td scope="row " class="text-center ">{{goleadores[g].nombre}}</td>

                        <td scope="row " class="text-center ">{{goleadores[g].goles}}</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="text-center bg-danger text-white ">AMONESTADOS</h3>
            <table class="table">
                <tbody class="table ">
                    <tr *ngFor="let a of (amonestados|identificadores) ">
                        <!-- <td scope="row " class="text-center ">
                        <img [src]="amonestados[a].imagen " width="45px " class="img-fluid rounded-circle "></td> -->
                        <td scope="row " class="text-center ">{{amonestados[a].nombre}}</td>

                        <td scope="row " class="text-center ">{{amonestados[a].ta}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>