<h4>Estadisticas</h4>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text center"></th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">POSICION</th>
            <th class="text-center">DORSAL</th>
            <th class="text-center">GOLES</th>
            <th class="text-center">TARJETAS</th>
            <th class="text-center">DETALLE</th>


            <th *ngIf="pS.usuario.uid" class="text-center"><button class="btn btn-outline-danger" [routerLink]="['/edicion','new']">Añadir jugador</button></th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        <tr *ngFor="let j of (jugadores|identificadores)">
            <td scope="row" class="text-center">
                <img [src]="jugadores[j].imagen" width="40px" class="img-fluid rounded-circle"></td>
            <td scope="row " class="text-center ">{{jugadores[j].nombre}}</td>
            <td scope="row " class="text-center ">{{jugadores[j].posicion}}</td>
            <td scope="row " class="text-center ">{{jugadores[j].dorsal}}</td>
            <td scope="row " class="text-center ">{{jugadores[j].goles}}</td>
            <td scope="row " class="text-center ">{{jugadores[j].ta}}</td>

            <td class="text-center ">
                <button type="button" class="btn btn-outline-primary btn-sm mr-2" [routerLink]='["/detalle",j]'>Detalle</button></td>
            <td *ngIf="pS.usuario.uid" class="text-center">
                <a class="fas fa-edit mr-2" [routerLink]="[ '/edicion',j] "></a>
                <button class="button btn btn-danger btn-sm mr-2 smalltext-right " (click)="eliminarJugador(j) ">X</button>

            </td>
        </tr>

    </tbody>
</table>