<h4 class="text-center">POLYMPAKOS</h4>
<hr>
<div *ngIf="load === false"><i class="fa fa-spinner fa-spin"></i> Cargando...</div>
<div *ngIf="load ===true" class="container-fluid">

    <h6 class="text-center">INICIOS</h6>
    <div class="row">
        <div class="col-8">
            <p>Club fundado en el año 2009 como equipo de futbol sala, blablabalbalbalbalablabal Años mas tarde se dio el paso a futbol 11 con grandes fichajes, como Fer y un portero retrasado Pasaron los años y el polym se asento como equipo de Futbol-7,
                tras no tener éxito en ninguno de los torneos disputados se opto por un cambio de plantilla</p>
        </div>
        <div class="col-4"><img src="https://firebasestorage.googleapis.com/v0/b/polym-c86db.appspot.com/o/h1.jpg?alt=media&token=26288574-da06-4c11-8c74-5167161b729a" class=img-fluid></div>
    </div>

    <hr>
    <h6 class="text-center">ALMUDENA</h6>
    <div class="row">
        <div class="col-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/polym-c86db.appspot.com/o/h2.jpg?alt=media&token=8cb7171e-90f6-43bc-a2c0-8c8d3add77ec" class="img-fluid"> </div>
        <div class="col-8">
            <p>Los inicios en la Almudena fueron dificiles, vieneron grandes estrellas como el Kun Yubero y Ricargol qu eprometieron muchos goles, pero esos goles no llegaron nunca. Fueron tiempo dificiles, pero quedara grabado en la retina de los aifcionados
                alguna tarde de gloria, con las celebraciones de nuestro entrañable Miguel</p>
        </div>



    </div>


    <hr>
    <h6 class="text-center">TORRESPAÑA</h6>
    <div class="row">
        <div class="col-8">
            <p>
                Tras pasar por la almudena vinieron los tiempos de Torrespaña, tiempos en los que el Polym fue casi campeon, pero se quedo en el casi. Jugamos el mejor partido que se receurda, el derby contra Jugones, la motivacion de Miguel contagio al equipo y no se
                recuerda al Polym volver a jugar igual
            </p>
        </div>
        <div class="col-4"><img src="https://firebasestorage.googleapis.com/v0/b/polym-c86db.appspot.com/o/h3.jpg?alt=media&token=f59b6e23-2e7e-486e-9e62-11c8041dc306" class="img-fluid">
        </div>
    </div>
    <hr>
    <h6>SAN BLAS</h6>
    <p>Despues de Torrespaña vino la epoca de San Blas, época convulsa en el que el yugo de esclavitud del eqiupo del presidente comunista capitalista Chechu, se vio amenazado, hubo esperanza, un rayo de luz en las tinieblas, un presidente de verdad que
        prometia grandes cosas, el gran Crasi, pero democraticamente fue derrotado por Chechu. Actualmente el equipo tiene mas jugadores en la enfermeria que en plantilla, esta sienod un año duro con muchas bajas, que hacen ver un futuro incierto a este
        historico equipo
    </p>
</div>