<h4>TERMINO BUSCADO : {{termino}}</h4>
<hr>
<div class="alert-secondary" *ngIf="jugador.length === 0">No hay resultados que mostrar</div>

<div class="card-columns lg text-center border-primary ">
    <div class="card" *ngFor="let j of jugador">
        <img src={{j.imagen}} class="card-img-top img-thumbnail" height="300px" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{j.nombre}}</h5>
            <p>{{j.dorsal}} - {{j.posicion}}</p>

            <button [routerLink]="['/detalle', j.id]" class="btn btn-primary btn-block">Ver detalle</button>
        </div>
    </div>
</div>