<div *ngIf="!pS.usuario.uid">
    <h1 class="text-center">LOGIN</h1>
    <hr>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Identifiquese con su usuario</p>
                <button type="button" class="btn btn-danger mx-1" (click)="ingresar('Google')">Google</button>
                <button type="button" class="btn btn-info mx-1" (click)="ingresar('Twitter')">Twitter</button>
            </div>
        </div>
    </div>
</div>




<div *ngIf="pS.usuario.uid" class="container-fluid">
    <h1> Añadir jugador</h1>
    <hr>



    <form [formGroup]="pForma" (submit)="guardar()">
        <div class="row">
            <div class="col-6">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="nombre" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="Posicion">Posicion</label>
                    <select class="form-control" id="posicion" formControlName="posicion">
            <option>PT</option>
            <option>DF</option>
            <option>MC</option>
            <option>DL</option>
          </select>
                </div>
                <div class="form-group">
                    <label for="dorsal">Dorsal</label>
                    <input type="number" class="form-control" id="dorsal" placeholder="dorsal" formControlName="dorsal">
                </div>

                <div class="form-group">
                    <label for="comentarios">Goles</label>
                    <input type="number" class="form-control" id="goles" placeholder="Goles" formControlName="goles">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="comentarios">Tarjetas</label>
                    <input type="number" class="form-control" id="ta" placeholder="Tarjetas" formControlName="ta">
                </div>
                <div class="form-group">
                    <label for="imagen">imagen</label>
                    <input type="text" class="form-control" id="imagen" placeholder="imagen" formControlName="imagen">
                </div>
                <div class="form-group">
                    <label for="comentarios">comentarios</label>
                    <textarea class="form-control" id="comentarios" rows="3" formControlName="comentarios"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success m-1" [disabled]="pForma.invalid">Guardar</button>

                <button type="button" class="btn btn-outline-dark m-1" [routerLink]="['/estadisticas']">Volver</button>
            </div>
        </div>
    </form>

</div>